.bola {
    width: 100px;
    height:100px;
    background-color:red;
    border-radius:100%;
    position: absolute;
    }

    button{
        margin-top: 300px;
        margin-left: 10px;
        
    }
    button:nth-child(1){
        background-color: blue;
        color: white;
        padding: 10px;
        border: none;
        font-weight: bold;
        margin-right: 10px;

    }

    button:nth-child(2){
        background-color: rgb(94, 255, 0);
        color: rgb(19, 1, 1);
        padding: 10px;
        border: none;
        font-weight: bold;
        margin-right: 10px;

    }

    button:nth-child(3){
        background-color: rgb(255, 0, 0);
        color: white;
        padding: 10px;
        border: none;
        font-weight: bold;
        margin-right: 10px;

    }

    @media(max-width: 400px){
        .bola{
            width: 150px;
            height: 130px;
            border-radius: 100%;
        }
        h3{
            font-size: 50px;
        }
        .pontos{
            font-size: 50px;
        }
        #pontos{
            font-size: 50px;
        }

    }